<%
  # アニメ新規作成ページ

%>
                     
<div class="container">
  <%= render :partial => 'breadcrumb' %>

  <div class="row-fluid">
    <% if @error != nil %>
      <div class="alert alert-danger"><i class="icon-info-sign"></i> <%= @error %></div>
    <% end %>
    <% if @info != nil %>
      <div class="alert alert-info"><i class="icon-info-sign"></i> <%= @info %></div>
    <% end %>
    <%= form_tag( { :controller => '/manage/anime', :action => 'new' }, { :class => 'form-horizontal', :id => 'frmCreateAnime' } ) do %>
      <%= render :partial => 'anime/anime_form' %>
      <%= hidden_field_tag( 'mode', 'create' ) %>
      <div class="control-group">
        <div class="controls">
          <%= submit_tag( '作成する', { :class => 'btn btn-success btn-bold' } ) %>
          <%= link_to( 'アニメ一覧へ戻る', { :controller => '/manage/anime' }, { :class => 'btn btn-bold' } ) %>
        </div>
      </div>
    <% end %>

  </div>
</div>

