<%
  # アカウント情報編集ページ

  account_types = User.account_types
  account_statuses = User.account_statuses

%>

<div class="container">
  <%= render :partial => 'breadcrumb' %>

  <div class="row-fluid">
    <% if @error != nil %>
      <div class="alert alert-danger"><i class="icon-info-sign"></i> <%= @error %></div>
    <% end %>
    <% if @info != nil %>
      <div class="alert alert-info"><i class="icon-info-sign"></i> <%= @info %></div>
    <% end %>

    <%= form_tag( { :controller => '/manage/account', :action => 'edit', :id => params[:id] }, { :class => 'form-horizontal', :id => 'frmEditAccount' } ) do %>
      <div class="control-group">
        <label class="control-label" for="inputLoginId">ログインID</label>
        <div class="controls">
          <%= text_field_tag( 'login_id', @edit_user.login_id, { :id => 'inputLoginId' } ) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">パスワード</label>
        <div class="controls">
          <%= password_field_tag( 'password', nil, { :id => 'inputPassword' } ) %>
          <div class="alert alert-info alert-pad3" style="display:inline;">※ パスワードは、変更する場合のみ入力してください。</div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputMailAddr">メールアドレス</label>
        <div class="controls">
          <%= text_field_tag( 'mail_addr', @edit_user.mail_addr, { :id => 'inputMailAddr', :class => 'span6', :placeholder => 'example@example.com' } ) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputNickName">ニックネーム</label>
        <div class="controls">
          <%= text_field_tag( 'nick_name', @edit_user.nick_name, { :id => 'inputNickName' } ) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputRealName">氏名</label>
        <div class="controls">
          <%= text_field_tag( 'real_name', @edit_user.real_name, { :id => 'inputRealName' } ) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPhoneNumber">電話番号</label>
        <div class="controls">
          <%= text_field_tag( 'phone_number', @edit_user.phone_number, { :id => 'inputPhoneNumber' } ) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputAccountType">アカウント種別</label>
        <div class="controls">
          <%= select_tag( 'account_type', options_for_select( account_types, :selected => @edit_user.account_type ), { :class => 'span3', :id => 'inputAccountType' } ) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputAccountStatus">アカウント状態</label>
        <div class="controls">
          <%= select_tag( 'account_status', options_for_select( account_statuses, :selected => @edit_user.account_status ), { :class => 'span3', :id => 'inputAccountStatus', :onChange => 'check_status();' } ) %>
        </div>
      </div>
      <%= hidden_field_tag( 'mode', 'edit' ) %>
      <div class="control-group">
        <div class="controls">
          <%= submit_tag( '保存する', { :class => 'btn btn-success btn-bold' } ) %>
          <%= submit_tag( '削除する', { :class => 'btn btn-danger btn-bold', :onClick => 'return del_confirm();' } ) %>
          <%= link_to( 'アカウント一覧へ戻る', { :controller => '/manage/account' }, { :class => 'btn btn-bold' } ) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

