<%
  # アニメ情報編集フォーム

  owners = Hash.new
  users = User.find_all_enabled()
  users.each do |user|
    owners[user.name] = user.id
  end

  anime_statuses = Anime.statuses

%>
<div class="control-group">
  <label class="control-label" for="inputTitle">タイトル</label>
  <div class="controls">
    <%= text_field_tag( 'title', @anime.title, { :id => 'inputTitle', :class => 'span5' } ) %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="inputTotalEpisodeNumber">エピソード数</label>
  <div class="controls">
    <%= text_field_tag( 'total_episode_number', @anime.total_episode_number, { :id => 'inputTotalEpisodeNumber', :class => 'span1' } ) %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="inputOwner">責任者</label>
  <div class="controls">
    <% if @user.account_type == User::TYPE_ADMIN %>
      <%= select_tag( 'owner_id', options_for_select( owners, @anime.owner_id ), { :class => 'span3' } ) %>
    <% else %>
      <B><%= @anime.owner.name %></B>
    <% end %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="inputDescription">説明</label>
  <div class="controls">
    <%= text_area_tag( 'description', @anime.description.gsub( /<br( \/)?>/, "\n" ), { :id => 'inputDescription', :class => 'span12', :rows => 8 } ) %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="inputStatus">アニメ状態</label>
  <div class="controls">
    <%= select_tag( 'status', options_for_select( anime_statuses, :selected => @anime.status ), { :class => 'span3', :id => 'inputStatus' } ) %>
  </div>
</div>
