<%
  # アニメ情報編集ページ

%>
                     
<div class="container">

  <div class="row-fluid">
    <% if @error != nil %>
      <div class="alert alert-danger"><i class="icon-info-sign"></i> <%= @error %></div>
    <% end %>
    <% if @info != nil %>
      <div class="alert alert-info"><i class="icon-info-sign"></i> <%= @info %></div>
    <% end %>

    <ul class="nav nav-tabs">
      <li class="<%= ( params[:mode] != 'edit_episode' ? 'active' : '' ) %>"><a href="#info" data-toggle="tab">基本情報</a></li>
      <li class="<%= ( params[:mode] == 'edit_episode' ? 'active' : '' ) %>"><a href="#detail" data-toggle="tab">エピソードの管理</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade<%= ( params[:mode] != 'edit_episode' ? ' in active' : '' ) %>" id="info">
        <%= form_tag( { :controller => '/anime', :action => 'edit', :id => @anime.id }, { :class => 'form-horizontal', :id => 'frmEditAnime' } ) do %>
          <%= render :partial => 'anime_form' %>
          <%= hidden_field_tag( 'mode', 'edit' ) %>
          <div class="control-group">
            <div class="controls">
              <%= submit_tag( '保存する', { :class => 'btn btn-success btn-bold' } ) %>
              <%= link_to( 'アニメ一覧へ戻る', { :controller => '/my', :action => 'index', :id => 2 }, { :class => 'btn btn-bold' } ) %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tab-pane fade<%= ( params[:mode] == 'edit_episode' ? ' in active' : '' ) %>" id="detail">
        <%= render :partial => 'episode_list' %>

        <div class="span8">
          <%= render :partial => 'episode_form' %>
        </div>
      </div>
    </div>

  </div>
</div>
