<%
  # アニメ情報編集ページ

%>
                     
<div class="container">

  <div class="row-fluid">
    <% if @error != nil %>
      <div class="alert alert-danger"><i class="icon-info-sign"></i> <%= @error %></div>
    <% end %>
    <% if @info != nil %>
      <div class="alert alert-info"><i class="icon-info-sign"></i> <%= @info %></div>
    <% end %>

    <ul class="nav nav-tabs">
      <li class="<%= ( params[:story_id] == nil ? 'active' : '' ) %>"><a href="#info" data-toggle="tab">基本情報</a></li>
      <li class="<%= ( params[:story_id] != nil ? 'active' : '' ) %>"><a href="#detail" data-toggle="tab">各話の管理</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade<%= ( params[:story_id] == nil ? ' in active' : '' ) %>" id="info">
        <%= form_tag( { :controller => '/anime', :action => 'edit', :id => @anime.id }, { :class => 'form-horizontal', :id => 'frmEditAnime' } ) do %>
          <%= render :partial => 'anime_form' %>
          <%= hidden_field_tag( 'mode', 'edit' ) %>
          <div class="control-group">
            <div class="controls">
              <%= submit_tag( '保存する', { :class => 'btn btn-success btn-bold' } ) %>
              <%= link_to( 'アニメ一覧へ戻る', { :controller => '/my', :action => 'index', :id => 2 }, { :class => 'btn btn-bold' } ) %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tab-pane fade<%= ( params[:story_id] != nil ? ' in active' : '' ) %>" id="detail">
        <div class="span4 well" style="padding:8px 0;">
          <ul class="nav nav-list" id="story_list">
            <li class="nav-header"><%= @anime.title %></li>
            <% @anime.story.each do |story| %>
              <% params[:story_id] = story.id if params[:story_id] == nil %>
              <% prefix = '' %>
              <% prefix = '第' + story.episode.to_s + '話 ' if story.episode != nil %>
              <li class="<%= ( params[:story_id].to_i == story.id ? 'active' : '' )%>">
                <%= link_to( prefix + story.title, :story_id => story.id ) %>
              </li>
            <% end %>
            <%= form_tag( { :action => 'ajax_add_story', :id => @anime.id, :story_id => params[:story_id] }, { :class => 'form-inline', :id => 'frmAddStory', :remote => true, :style => 'margin-bottom:0px;margin-top:10px;' } ) do %>
              <%= text_field_tag( 'story_name', '', { :id => 'inputStoryName', :class => 'span9', :placeholder => '各話を新しく追加' } ) %>
              <%= submit_tag( '追加', { :class => 'btn btn-primary btn-bold' } ) %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

